/*@import 'bootstrap';*/
body {
	margin: 0px;
	background-image:url('cloth_alike.png');
}

header {
	margin-top: 0px;
}

.field_with_errors {
  @extend .has-error;
}

.logo-image {
	position: absolute;
	max-width: 25%;
	max-height: 25%;
	top: -70%;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}



.bars-right { 
	background:#39251a;
	height:0.3%;
	width:39%;
	top:110px;
	left:61%;
	position:absolute;
	margin: auto;
}

.bars-right1 { 
	background:#39251a;
	height:0.3%;
	width:39%;
	top:120px;
	left:61%;
	position:absolute;
	margin: auto;
}

.bars-left { 
	background:#39251a;
	height:0.3%;
	width:39%;
	top:110px;
	right:61%;
	position:absolute;
	margin: auto;
}

.bars-left1 { 
	background:#39251a;
	height:0.3%;
	width:39%;
	top:120px;
	right:61%;
	position:absolute;
	margin: auto;
}
ul.nav-left li {
	font-family: 'Poiret One', sans-serif;
	font-size: 140%;
	color: #39251a;
	display: inline;
	float: left;
	padding-left: 5%;
	margin-top: 4%;
}

ul.nav-right li {
	font-family: 'Poiret One', sans-serif;
	font-size: 140%;
	color: #39251a;
	display: inline;
	float: right;
	padding-right: 5%;
	margin-top: 4%;
}
