	<%=link_to image_tag("shippo_logo_1.png", :class => 'logo-image'), root_path %>

	<div class='bars-right'>
	</div>
	<div class='bars-right1'>
	</div>
	<div class='bars-left'>
	</div>
	<div class='bars-left1'>
	</div>
<ul class='nav-left'>
	<li> SIGN UP </li>
	<li> LOG IN </li>
</ul>
<ul class='nav-right'>
	<li> PRICING </li>
	<li> CONTACT </li>
	<li> ABOUT US </li>
</ul>



