<!-- 
<ul class='nav-left'>
	<li> SIGN UP </li>
	<li> LOG IN </li>
</ul>
<ul class='nav-right'>
	<li> PRICING </li>
	<li> CONTACT </li>
	<li> ABOUT US </li>
</ul>
<%=link_to image_tag("shippo_logo_1.png", :class => 'brand'), root_path %>
 -->
<body>

	  <div class='header-highlight'>
    </div>

    <div class="container">
  		<div class='bars-right'>
      </div>
      <div class='bars-right1'>
      </div>
      <div class='bars-left'>
      </div>
      <div class='bars-left1'>
      </div>
      <!-- Static navbar -->
      <div class="navbar">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="brand" href="#"><%=link_to image_tag("shippo_logo_1.png", :class => 'brand'), root_path %></a>

        <div class="navbar-collapse collapse">
        	<ul class="nav navbar-nav">
            <li class="active"><a href="#">ABOUT US</a></li>
            <li><a href="#">CONTACT</a></li>
            <!-- li><a href="#">PRICING</a></li> -->
            
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">MORE INFO<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">FAQ</a></li>
                <li><a href="#">HOW IT WORKS</a></li>
                <li><a href="#">PRICING</a></li>
                <li class="divider"></li>
            <!--     <li class="dropdown-header">Nav header</li> -->
                <li><a href="#">REVIEWS</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
           <!--  <li class="active"><a href="./">Default</a></li> -->
            <li><a href="../navbar-static-top/">SIGN UP</a></li>
            <li><a href="../navbar-fixed-top/">LOG IN</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

      <!-- Main component for a primary marketing message or call to action -->
      <!-- <div class="jumbotron"> -->
        <!-- <h1>Navbar example</h1> -->
        <p>HELPING PEOPLE GET WHAT THEY WANT, WHERE THEY WANT IT</p>
        <p>
          <!-- <a class="btn btn-lg btn-primary" href="../../components/#navbar">View navbar docs &raquo;</a> -->
        </p>
      </div>

    </div> <!-- /container -->

  </body>