	<%=link_to image_tag("shippo_logo_1.png", :class => 'logo-image'), root_path %>

	<div class='bars-right'>
	</div>
	<div class='bars-right1'>
	</div>
	<div class='bars-left'>
	</div>
	<div class='bars-left1'>
	</div>

<p class='nav'> SIGN UP </p>
<p class='nav'> LOG IN </p>
<p class='nav'> PRICING </p>
<p class='nav'> CONTACT </p>
<p class='nav'> ABOUT US </p>


